* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
}

.container {
    min-width: 375px;
    height: 100vh;
    padding-inline: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container .box {
    background-color: white;
    padding: 17px;
    text-align: center;
    border-radius: 20px;
    width: 335px;
    box-shadow: 2px 4px 12px 0px #9ea7b2;
}

.container .box .image {
    height: fit-content;
}

.container .box .image img {
    width: 100%;
    border-radius: 10px;
}

.container .box .text {
    padding: 20px;
}

.container .box .text h1 {
    font-size: 23px;
    color: hsl(218, 44%, 22%);
    display: block;
    margin-bottom: 20px;
}

.container .box .text p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    position: absolute;
    bottom: 10px;
    font-size: 14px;
}

.attribution a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}