* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
}

.container {
    max-width: 1440px;
    min-width: 375px;
    height: 85vh;
    padding-inline: 15px;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .box {
    background-color: white;
    padding: 17px;
    text-align: center;
    border-radius: 20px;
    width: 335px;
}

.container .box .image {
    height: fit-content;
}

.container .box .image img {
    width: 100%;
    border-radius: 10px;
}

.container .box .text {
    padding: 20px;
}

.container .box .text strong {
    font-size: 23px;
    color: hsl(218, 44%, 22%);
    display: block;
    margin-bottom: 20px;
}

.container .box .text p {
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 21px;
}

.attribution a {
    text-decoration: none;
    font-weight: bold;
    color: blue;
}